.navbar {
    border-radius: 0px !important;
}

.navbar-nav > li > a {
    font-size : 20px;
    line-height: 40px;
}

.no-padding {
    padding : 0px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}