.navbar {
    border-radius: 0px !important;
}

.navbar-nav > li > a {
    font-size : 20px;
    line-height: 40px;
}

.no-padding {
    padding : 0px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

#footer {
    z-index:1001; margin-bottom: 0px;
}

#footer > .container-fluid > .navbar-right > .navbar-nav > li > a {
    padding-top : 0px !important;
    padding-bottom : 0px !important;
    line-height: 50px;
}

html {
    overflow-y: scroll;
}