<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            Available Products 
            <span class="badge"> {{$ctrl.products.length}} </span>
        </h1>
    </div>
    <div class="panel-body row">
        <div ng-repeat="product in $ctrl.products" class="col-md-6 col-sm-12">
            <div class="panel" ng-class="product.class">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span>{{ product.title }}</span>
                        <span class="pull-right">
                            <i class="fa fa-info btn no-padding margin-right-10" aria-hidden="true"></i>
                            <i class="fa fa-times btn no-padding" aria-hidden="true" 
                                ng-click="$ctrl.deleteProduct(product)">                                
                            </i>
                        </span>
                    </h1>                    
                </div>
                <div class="panel-body">
                    {{product.description}}
                </div>
            </div>
        </div>
    </div>
</div>